* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #080b18;
    color: white;
    line-height: 1.6;
}



header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background: #080b18;
    border-bottom: 1px solid #20253a;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo span {
    color: #7c5cff;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #b8bdd0;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #8c70ff;
}



.hero {
    min-height: 600px;
    padding: 80px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background:
        radial-gradient(
            circle at 80% 30%,
            #342270 0,
            transparent 35%
        );
}

.hero-content {
    max-width: 650px;
}

.small-title {
    color: #8c70ff;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero h1 span,
.page-title h1 span {
    color: #8c70ff;
}

.hero-content > p:not(.small-title) {
    color: #aeb4c8;
    max-width: 560px;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn,
.btn-outline {
    display: inline-block;
    padding: 13px 25px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn {
    background: #7c5cff;
    color: white;
}

.btn:hover {
    background: #6544e8;
}

.btn-outline {
    border: 1px solid #555d78;
    color: white;
}

.btn-outline:hover {
    border-color: #8c70ff;
    color: #8c70ff;
}



.hero-card {
    width: 300px;
    padding: 40px;
    background: #111629;
    border: 1px solid #292f48;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 25px;

    background: linear-gradient(
        135deg,
        #8c70ff,
        #362477
    );
}

.hero-card h2 {
    font-size: 35px;
    color: #8c70ff;
}

.hero-card p {
    color: #aeb4c8;
}

.hero-card hr {
    border: none;
    border-top: 1px solid #292f48;
    margin: 25px 0;
}


.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 70px 8%;
    background: #0c1020;
}

.feature-card {
    padding: 35px;
    background: #111629;
    border: 1px solid #292f48;
    border-radius: 12px;
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
    border-color: #7c5cff;
}

.icon {
    color: #8c70ff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.feature-card h3 {
    margin-bottom: 12px;
}

.feature-card p {
    color: #9da4bb;
}



.page-title {
    text-align: center;
    padding: 90px 20px 70px;
    background:
        radial-gradient(
            circle at center,
            #211747,
            transparent 50%
        );
}

.page-title > p:first-child {
    color: #8c70ff;
    letter-spacing: 4px;
    font-size: 13px;
}

.page-title h1 {
    font-size: 52px;
    margin: 15px 0;
}

.page-title > p:last-child {
    color: #9da4bb;
}



.about-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 70px 8%;
}

.about-box {
    padding: 45px;
    background: #111629;
    border: 1px solid #292f48;
    border-radius: 15px;
}

.about-box h2 {
    margin-bottom: 20px;
}

.about-box p {
    color: #aeb4c8;
    margin-bottom: 15px;
}

.about-box.highlight {
    background: linear-gradient(
        145deg,
        #211747,
        #111629
    );
}

.mission {
    margin: 0 8% 80px;
    padding: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    background: #111629;
    border-radius: 15px;
    border: 1px solid #292f48;
}

.mission p {
    color: #aeb4c8;
}

.mission-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.mission-number h1 {
    color: #8c70ff;
}



.services {
    padding: 50px 8% 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.service-card {
    padding: 40px;
    background: #111629;
    border: 1px solid #292f48;
    border-radius: 15px;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-7px);
    border-color: #8c70ff;
}

.service-number {
    color: #8c70ff;
    font-size: 18px;
    font-weight: bold;
}

.service-card h2 {
    margin: 15px 0;
}

.service-card p {
    color: #9da4bb;
    margin-bottom: 20px;
}

.service-card a {
    color: #8c70ff;
    text-decoration: none;
}



.team {
    padding: 50px 8% 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team-card {
    text-align: center;
    padding: 35px 20px;
    background: #111629;
    border: 1px solid #292f48;
    border-radius: 15px;
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-8px);
    border-color: #8c70ff;
}

.profile {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #8c70ff,
        #302064
    );

    font-size: 28px;
    font-weight: bold;
}

.team-card p {
    color: #9da4bb;
}

.social {
    margin-top: 20px;
    color: #8c70ff;
    font-size: 13px;
}



.contact-section {
    padding: 50px 8% 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.contact-info {
    padding: 20px;
}

.contact-info > p {
    color: #9da4bb;
    margin: 15px 0 35px;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-item h3 {
    color: #8c70ff;
}

.contact-item p {
    color: #aeb4c8;
}

.contact-form {
    padding: 40px;
    background: #111629;
    border: 1px solid #292f48;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 7px;
    color: #dce0ed;
}

form input,
form textarea {
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #303750;
    background: #080b18;
    color: white;
    outline: none;
}

form input:focus,
form textarea:focus {
    border-color: #8c70ff;
}

form button {
    padding: 14px;
    border: none;
    border-radius: 6px;
    background: #7c5cff;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

form button:hover {
    background: #6544e8;
}



footer {
    padding: 25px 8%;
    text-align: center;
    background: #050711;
    border-top: 1px solid #20253a;
    color: #777f99;
    font-size: 13px;
}



@media (max-width: 900px) {

    header {
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .hero h1 {
        font-size: 45px;
    }

    .buttons {
        justify-content: center;
    }

    .features,
    .team {
        grid-template-columns: 1fr 1fr;
    }

    .about-section,
    .mission,
    .contact-section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {

    .features,
    .services,
    .team {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 38px;
    }

    .page-title h1 {
        font-size: 38px;
    }

    .hero-card {
        width: 100%;
    }
}